.mainContainer {
 height: 45rem;
  display: flex;
  overflow-y: hidden;
  z-index: -1;

}
/* .container {
  width: 65vw;
  position: absolute;
  left: 35vw;
  top: 6.2rem;
  color: var(--grey-medium);
  overflow-y: auto;
  max-height: 700px;
} */
.container {
  width: 66vw;
  position: absolute;
  left: 35%;
  color: var(--grey-medium);
  max-height: 45rem;
  overflow-y: auto;
}

.container img {
  display: block;
  width: 100%;
}
.container h2 {
  color: var(--grey-dark);
}

.content {
  padding: 0 4rem 5rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.content h2 {
  font-weight: 400;
}

.coffee h3 {
  color: var(--grey-dark);
}

.container button {
  border-color: var(--green);
  color: var(--green);
}

.container button:hover {
  background-color: var(--green-light);
}

.coffee {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.card {
  width: 24rem;
  background-color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.card h3 {
  color: var(--grey-dark);
}

.cardText {
  padding: 0 1.5rem 1.5rem 1.5rem;
}
.cardText h3 {
  font-weight: 400;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
.mainContainer {
  flex-direction: column;
  height: fit-content;
}
.container {
  width: 100%;
  top: 59.5rem;
  left: 0;
}
.content {
  padding: 0 2rem 5rem 2rem;
}
.coffee {
  grid-template-columns: 1fr;
  gap: 0;
}
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .mainContainer {
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
  }
  .container {
    width: 100%;
    left: 0;
    top: 32.5rem;
    overflow-x: hidden;
  }
  .content {
    justify-content: center;
    padding: 0 3rem 5rem 3rem;
  }
  .news {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}

