.mainContainer {
  height: 45rem;
  overflow-y: hidden;
  z-index: -1;
  display: flex;
}
.container {
  width: 66vw;
  position: absolute;
  left: 35%;
  color: var(--grey-medium);
  overflow-y: auto;
  max-height: 45rem;
}

.content {
  padding: 1rem 4rem 5rem 3rem;
  z-index: -1;
}

.respons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.card {
  width: 23rem;
  background-color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.card h3 {
  color: var(--grey-dark);
}

.cardText {
  padding: 0 1.5rem 1.5rem 1.5rem;
}
.cardText h3 {
  font-weight: 400;
}

.card img {
  width: 100%;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--green);
  font-weight: 600;
}

.links span:hover {
  color: var(--grey-dark)
}

.title {
  font-family: "Archivo Black", sans-serif;
  color: var(--grey-dark);
}

.line {
  border: 0.8px solid var(--grey-medium);
  opacity: 0.4;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
  .mainContainer {
    flex-direction: column;
    height: fit-content;
  }
  .container {
    width: 100%;
    top: 61rem;
    left: 0;
  }
  .content {
    padding: 0 2rem 5rem 2rem;
  }
  
}


@media screen and (min-width: 481px) and (max-width: 1024px) {
  .mainContainer {
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    z-index: -1;
  }
  .container {
    width: 100%;
    left: 0;
    top: 33rem;
    overflow-x: hidden;
  }
  .content {
    width: 95%;
    padding: 0 2rem 5rem 2rem
  }
 .respons {
  justify-content: center;
 }
}