.container {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 1.1em 1.5em;
  height: 4em;
  z-index: 10;
}

.links {
  display: flex;
  align-items: center;
  gap: 1.2em;
  font-size: 0.9em;
  font-family: "Archivo Black", sans-serif;
}
.links a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--grey-dark);
}

.links a:hover {
  color: var(--green);
}

.links img {
  width: 3.2em;
}

.buttons {
  display: flex;
  gap: 1em;
  margin-right: 3em;
}
.buttons button {
  color: var(--grey-dark);
}

.buttons a {
  text-decoration: none;
}
.location {
  border: none;
  font-family: "SoDo Sans, sans-serif";
}
.location:hover {
  opacity: 0.6;
  background-color: transparent;
}

.buttons .black {
  background-color: var(--grey-dark);
  color: white;
}

.buttons .black:hover {
  opacity: 0.8;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .buttons {
    width: 100%;
    padding-left: 3em;
    padding-top: 1em;
  }
}
