.container {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  height: 4rem;
  z-index: 10;
  padding: 1.1rem 0;
}

.links {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 0.9rem;
  font-family: "Archivo Black", sans-serif;
}
.links a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--grey-dark);
}

.links a:hover {
  color: var(--green);
}

.links img {
  width: 3.2rem;
  margin-left: 2rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-right: 3rem;
}
.buttons button {
  color: var(--grey-dark);
}

.buttons a {
  text-decoration: none;
}
.location {
  border: none;
  font-family: "SoDo Sans, sans-serif";
}
.location:hover {
  opacity: 0.6;
  background-color: transparent;
}

.buttons .black {
  background-color: var(--grey-dark);
  color: white;
}

.buttons .black:hover {
  opacity: 0.8;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1rem;
  }
  .buttons {
    width: 100%;
    align-items: center;
    margin-top: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .container {
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .links {
    display: flex;
    flex-wrap: wrap;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .links img {
    margin-left: 0;
  }
  .buttons {
    width: 100%;
    margin-left: 4.5rem;
  }
}
