.mainContainer {
  height: 700px;
  overflow-y: hidden;
  z-index: -1;
}
.container {
  width: 65vw;
  position: absolute;
  left: 35vw;
  top: 6.2em;
  color: var(--grey-medium);
  overflow-y: auto;
  max-height: 700px;
}

.content {
  padding: 1em 5em 5em 3em;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.title {
  font-family: "Archivo Black", sans-serif;
  color: var(--grey-dark);
}
.intro {
  max-width: 40em;
}

.intro h3 {
  max-width: 40em;
  font-weight: 400;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}
.card img {
  width: 100%;
}

.element {
  margin-bottom: 1em;
}
.card h3 {
  color: var(--grey-dark);
}

/* Styles for items on the left */
.left {
  display: flex;
  flex-direction: row-reverse;
}
.left img {
  max-width: 50%;
}
.left div {
  flex: 1;
}

/* Styles for items on the right */
.right {
  display: flex;
  flex-direction: row;
}
.right img {
  max-width: 50%;
}
.right div {
  flex: 1;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .mainContainer {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    z-index: 2;
  }
  .container {
    width: 100vw;
    left: 0;
    top: 570px;
    overflow-x: hidden;
  }
  .content {
    width: 90%;
  }
  .respons {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}



