:root {
  font-family: "SoDo Sans";
  font-style: normal;
  font-weight: normal;

  color-scheme: light dark;
  color: var(--grey-dark);
  background-color: var(--grey-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --grey-dark: #1f1f1f;
  --grey-light: #f7f7f7;
  --green: #00643c;
  --green-light: #e6ede9;
  --green-medium: #3e8056;
  --green-dark: #71867d;
  --gold: #d39f3d;

}


body {
  margin: 0;
  min-height: 100vh;
  max-width: 1375px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 1.4em;
  border: 1.5px solid var(--grey-dark);
  width: fit-content;
  padding: 0.3em 1em;
  font-size: 1em;
  letter-spacing: -.014rem;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
  font-family: "SoDoSans, sans-serif";

}
button:hover {
  background-color: var(--grey-light);
}
