:root {
  font-family: "SoDo Sans";
  font-style: normal;
  font-weight: normal;

  color-scheme: light dark;
  color: var(--grey-dark);
  background-color: var(--grey-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --grey-dark: #1f1f1f;
  --grey-medium: #6c6c6c;
  --grey-light: #f7f7f7;
  --green: #00643c;
  --green-hover: #199c50;
  --green-light: #d9ebe0;
  --green-medium: #406b50;
  --green-dark: #71867d;
  --gold: #d39f3d;
  --filter: rgba(0, 0, 0, 0.4);

}

/* .appContainer {
  max-height: calc(700px + 6.2em);
  
} */

/* body {
  margin: 0;
  max-height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
} */

body {
  margin: auto;
  padding: 0;
  height: 100%;
  max-width: 100vw;
overflow-x: hidden;}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.2rem;
}

p {
  font-size: 0.9rem;
}
strong {
  color: var(--grey-dark);
  text-decoration: none;
}

button {
  border-radius: 1.4rem;
  border: 1.5px solid var(--grey-dark);
  width: fit-content;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  letter-spacing: -0.014rem;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
  font-family: "SoDoSans, sans-serif";
}
button:hover {
  background-color: var(--grey-light);
}
