.container {
  width: 55vw;
  position: absolute;
  left: 35vw;
  top: 5.2em;
  color: var(--grey-medium);
  padding: 1em 3em 5em 3em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.intro {
  width: 43em;
}
.intro h2 {
  color: var(--grey-dark);
  font-weight: 500;
}

.intro h3 {
  font-weight: 400;
}

.delivers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

.card {
  width: 24em;
  background-color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.card h3 {
  color: var(--grey-dark);
}

.cardText {
  padding: 0 1.5em 1.5em 1.5em;
}
.cardText h3 {
  font-weight: 400;
}

.container button {
  border-color: var(--green);
  color: var(--green);
}

.container button:hover {
  background-color: var(--green-light);
}

.card img {
  width: 100%;
}
