.mainContainer {
  height: 45rem;
  overflow-y: hidden;
  z-index: -1;
  display: flex;
}

.container {
  width: 65vw;
  position: absolute;
  left: 35vw;
  color: var(--grey-medium);
  overflow-y: auto;
  max-height: 45rem;
}

.container h3 {
  color: var(--grey-dark);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  height: 45rem;
  margin-top: 7rem;
}

.sectionForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 35rem;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.box {
  max-width: 25rem;
  padding: 10px;
  border: none;
  border-bottom: 1px solid var(--grey-medium);
  font-size: 1.2rem;
  outline: none;
  background-color: transparent;
  color: var(--grey-dark);
  font-weight: bold;
  transition: border-color 0.2s;
}

.box:focus {
  border-bottom: 2px solid var(--green-hover);
}

.password {
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 35rem;
}

.password .box {
  max-width: 25rem;
}

.casilla {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.check:checked {
  background-color: var(--green);
  border: none;
  width: 20px;
  height: 20px;
  color: white;
}

.underline {
  color: var(--green);
  text-decoration: underline;
}

.underline:hover {
  text-decoration: none;
}

.details button {
  background-color: var(--green);
  border: none;
  font-size: 1.5rem;
  margin-left: 9.5rem;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.details button:hover {
  background-color: var(--green-hover);
}

.error {
  color: red;
  display: flex;
  gap: 0.5rem;
  position: relative;
  top: -2rem;
}

.password span {
  color: var(--green);
  font-size: 2rem;
}



/* CSS REGISTER */

.containerRegister {
  width: 66vw;
  position: absolute;
  left: 35%;
  color: var(--grey-medium);
  overflow-y: auto;
  max-height: 45rem;
}

.contentRegister {
  max-width: 85%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  padding: 3rem 0 3rem 5rem;
 
}
.casilla label {
  font-size: 0.9rem;
}
.privacy {
  font-size: 0.9rem;
  margin-top: 1rem;
}

.privacy strong {
  color: var(--green);
  text-decoration: underline;
  font-weight: normal;
}

.privacy strong:hover {
  text-decoration: none;
}

.error {
  color: red;
  display: flex;
  gap: 0.5rem;
  position: relative;
  top: -2rem;
}

.inputs h3 {
  color: var(--grey-medium);
}

.doubleColumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .mainContainer {
    flex-direction: column;
    height: fit-content;
  }
  .container, .containerRegister {
    width: 100%;
    top: 61rem;
    left: 0;
  }
  .contentRegister, .content {
    padding-left: 0;
  }
  .content {
    margin-left: -3rem;
    margin-bottom: 4rem;
    height: fit-content;
  }
  .sectionForm {
    width: 17rem;
  }
  .details button {
    margin-left: 0;
  }
}


@media screen and (min-width: 481px) and (max-width: 1200px) {
  .mainContainer {
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
  }
  .container {
    width: 100%;
    left: 0;
    top: 20rem;
    overflow-x: hidden;
    z-index: -1;
  }
  .content {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .containerRegister {
    width: 100%;
    left: 0;
    top: 33rem;
    overflow-x: hidden;
    z-index: -1;
  }
  
}
