.mainContainer {
  height: 700px;
  overflow-y: hidden;
  z-index: -1;
}

.container {
  width: 65vw;
  position: absolute;
  left: 35vw;
  top: 6.2em;
  color: var(--grey-medium);
  overflow-y: auto;
  max-height: 700px;
}

.container h3 {
  color: var(--grey-dark);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  height: 700px;
  margin-top: 7em;
}

.sectionForm {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 35em;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.box {
  max-width: 25em;
  padding: 10px;
  border: none;
  border-bottom: 1px solid var(--grey-medium);
  font-size: 1.2em;
  outline: none;
  background-color: transparent;
  color: var(--grey-dark);
  font-weight: bold;
  transition: border-color 0.2s;
}

.box:focus {
  border-bottom: 2px solid var(--green-hover);
}

.password {
  display: flex;
  align-items: center;
  gap: 2em;
  width: 35em;
}

.password .box {
  width: 25em;
}

.casilla {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.check:checked {
  background-color: var(--green);
  border: none;
  width: 20px;
  height: 20px;
  color: white;
}

.underline {
  color: var(--green);
  text-decoration: underline;
}

.underline:hover {
  text-decoration: none;
}

.details button {
  background-color: var(--green);
  border: none;
  font-size: 1.5em;
  margin-left: 9.5em;
  margin-top: 2em;
  padding: 0.5em 1em;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.details button:hover {
  background-color: var(--green-hover);
}

.error {
  color: red;
  display: flex;
  gap: 0.5em;
  position: relative;
  top: -2em;
}

.password span {
  color: var(--green);
  font-size: 2em;
}



/* CSS REGISTER */

.containerRegister {
  width: 65vw;
  position: absolute;
  left: 35vw;
  top: 6.2em;
  color: var(--grey-medium);
  overflow-y: auto;
  max-height: 700px;
}

.contentRegister {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 5em;
  align-items: center;
  margin-top: 3em;
  margin-left: 5em;
  margin-bottom: 3em;
}
.casilla label {
  font-size: 0.9em;
}
.privacy {
  font-size: 0.9em;
  position: relative;
  top: 1em;
}

.privacy strong {
  color: var(--green);
  text-decoration: underline;
  font-weight: normal;
}

.privacy strong:hover {
  text-decoration: none;
}

.error {
  color: red;
  display: flex;
  gap: 0.5em;
  position: relative;
  top: -2em;
}

.inputs h3 {
  color: var(--grey-medium);
}

.doubleColumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  
}


@media screen and (min-width: 481px) and (max-width: 1200px) {
  .mainContainer {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    z-index: 2;
  }
  .container {
    width: 100vw;
    left: 0;
    top: 300px;
    overflow-x: hidden;
  }
  .content {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .containerRegister {
    width: 100vw;
    left: 0;
    top: 550px;
    overflow-x: hidden;
  }
  
}
