.container {
  background: linear-gradient(to bottom, var(--green-light), var(--green-dark));
  width: 35vw;
  height: 100vh;
  position: relative;
  font-family: "Archivo Black", sans-serif;
}

.container::before {
  content: "";
  background-image: url(C:\Users\anank\documents\Ananke85\Starbucks\starbucks\src\assets\stars.png);
  background-size: 87%;
  background-repeat: no-repeat;
  background-position: center bottom;
  z-index: 1;
  position: absolute;
  width: 130%;
  height: 80%;
  top: -1.7em;
  left: -3.7em;
}

.container img {
  width: 25em;
  position: absolute;
  left: 4vw;
  bottom: 0;
  z-index: -1;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  text-align: center;
  color: var(--green);
}

.title h1 {
  font-size: 1.5em;
}

.plainText h2 {
  text-transform: uppercase;
}

.brillar {
  font-size: 4.5em;
  position: relative;
  top: -1em;
  line-height: 1em;
}

.plainText h3 {
  font-family: "SoDoSans";
  position: relative;
  top: -3em;
  font-size: 1.3em;
}

strong {
  color: rgb(11, 53, 11);
  font-weight: 1200;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-left: 5em;
  position: relative;
  top: -5em;
}

.buttons button {
  border-color: white;
  z-index: 5;
}

.buttons button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* STARS CSS */

.star {
  margin: 50px 0;
  position: relative;
  display: block;
  color: var(--gold);
  width: 0px;
  height: 0px;
  border-right: 50px solid transparent;
  border-bottom: 35px solid var(--gold);
  border-left: 50px solid transparent;
  transform: rotate(35deg);
}

.star:before {
  border-bottom: 40px solid var(--gold);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -23px;
  left: -32px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}

.star:after {
  position: absolute;
  display: block;
  color: var(--gold);
  top: 2px;
  left: -53px;
  width: 0px;
  height: 0px;
  border-right: 50px solid transparent;
  border-bottom: 35px solid var(--gold);
  border-left: 50px solid transparent;
  transform: rotate(-70deg);
  content: "";
}

/* CSS CARTA */

.containerPhoto {
  width: 35vw;
  height: 100vh;
  position: relative;
  font-family: "Archivo Black", sans-serif;
}

.containerPhoto::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, var(--filter));
  z-index: 1;
  pointer-events: none;
}
.containerPhoto img {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.buttonsCarta {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-left: 5em;
  position: relative;
  top: -15em;
}

.buttonsCarta button {
  border-color: white;
  z-index: 5;
}

.buttonsCarta button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.containerPhoto h3 {
  color: white;
  position: relative;
  top: -13em;
  left: 4.5em;
  z-index: 1;
}

/* CSS CAFE */

.containerCafe {
  width: 35vw;
  height: 100vh;
  position: relative;
  font-family: "Archivo Black", sans-serif;
}

.containerCafe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, var(--filter));
  z-index: 1;
  pointer-events: none;
}
.containerCafe img {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.containerCafe h3 {
  color: white;
  position: relative;
  top: -16em;
  left: 4.5em;
  z-index: 1;
}

.buttonsCafe {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-left: 5em;
  position: relative;
  top: -18em;
}

.buttonsCafe button {
  border-color: white;
  z-index: 5;
}

.buttonsCafe button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* CSS RESPONSABILIDAD */

.containerResp {
  width: 35vw;
  height: 100vh;
  position: relative;
  font-family: "Archivo Black", sans-serif;
  background-color: var(--green-medium);
  overflow: hidden;
}

.containerResp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--filter), rgba(0, 0, 0, 0.7));
  z-index: 1;
  pointer-events: none;
}

.containerResp img {
  width: 15em;
  position: absolute;
  top: 15%;
  left: 25%;
  z-index: 2;
}

.containerResp h3 {
  color: white;
  position: relative;
  top: 24em;
  left: 4.5em;
  z-index: 2;
}

/* CSS MERCHANDISING */

.containerMerchan {
  width: 35vw;
  height: 100vh;
  position: relative;
  font-family: "Archivo Black", sans-serif;
}

.containerMerchan::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, var(--filter));
  z-index: 1;
  pointer-events: none;
}
.containerMerchan img {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.containerMerchan h3 {
  color: white;
  position: relative;
  top: -12em;
  left: 4.5em;
  z-index: 1;
}
